<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="jaLQFjbpJdAuF2YqsoKzvamPhT4EZG5cbrsU63YfgQM" />
    <title>SRA Teaching | Online Test, Notes</title>
    <meta name="description" content="Online tests and notes for Class 10 and 12">
    <meta charset="UTF-8">
    <title>Study Hub | Learn Smart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-body">

<!-- Overlay -->
<div class="home-overlay"></div>

<!-- Navbar -->
<div class="home-navbar">
    <h2>Study Hub</h2>
    <div class="nav-links">
        <a href="/login">Login</a>
        <a href="/signup" class="nav-btn">Signup</a>
    </div>
</div>

<!-- Hero Section -->
<div class="hero-section">
    <div class="hero-card">
        <h1>Learn Smarter,<br><span>Score Better</span></h1>
        <p>
            CBSE Class 10 & 12 Notes, Tests, Revision & PDFs  
            <br>All in one smart learning platform
        </p>

        <div class="hero-buttons">
            <a href="/signup" class="hero-btn">Get Started</a>
            <a href="/login" class="hero-btn outline">Login</a>
        </div>
    </div>
</div>

</body>
</html>

